[submodule "powerline-fonts"]
	path = lib/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "spaceship-prompt"]
	path = .oh-my-zsh-custom/themes/spaceship-prompt
	url = git@github.com:denysdovhan/spaceship-prompt.git
[submodule "zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
[submodule "ohmyzsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "lib/vim-pathogen"]
	path = lib/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
